MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_DB_NAME=proyectoFinalWeb
PORT=3000
OPENWEATHER_API_KEY=your_api_key
OPENWEATHER_BASE_URL=https://api.openweathermap.org/data/2.5
WEATHER_CACHE_TTL_MINUTES=60
